extends ../templates/base

block content
    div(class="content-top")
        div(class="about")
            div(class="page-inner page-inner--w3")
                div(class="page-text")
                    div(class="slider-container", data-load, data-load-effect="zoom-opacity")
                        div(class="slider slider--one owl-carousel")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/about.jpg", src="../dummy/about.jpg")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/about.jpg", src="../dummy/about.jpg")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/about.jpg", src="../dummy/about.jpg")
                        div(class="slider-nav-counter")
                            span(class="slider-nav-counter-current")
                            span(class="slider-nav-counter-divider") / 
                            span(class="slider-nav-counter-all") 
                    div(class="page-inner page-inner--w4", data-load, data-load-effect="bottom-opacity")
                        h1 О проекте
                        h3 Где-то на востоке – озеро Байкал, Ледовитый океан – очень холодный и он на севере. На Камчатке курятся вулканы, а на Кавказе принято есть шашлык и дарить кинжалы…
                        p Каждый из нас обязательно где-то побывал, увидел что-то новое, необычное, неизведанное... Страна наша огромна, разнообразна и удивительна! Её просторы пропитаны великой историей, исследованы и взлелеяны множеством людей – отчаянных путешественников и упрямых земледельцев, бережно сохранены для нас не только героями, но и простыми людьми, чьих имен мы никогда не узнаем. 
                        h4 Наша страна – как лоскутное одеяло: пёстрое, неказистое, но такое тёплое и любимое! 
                        p Мы будем собирать эти лоскутки, вплетать ниточки, бережно собирая их – в Костроме и на Алтае, Архангельске и Владивостоке. Будем завязывать узелки на память и сшивать вместе узоры нашей многообразной Родины. Чтобы можно было смотреть и любоваться – нам, нашим детям, внукам и правнукам…
                        p Зазывая детвору к завтраку, забегая с работы на обед, накрывая семейный  ужин вместе со старшим поколением – Вы всегда сможете открыть для себя частичку чего-то нового о нашей стране, её истории, географии, обычаях, традициях, разнообразной кухне и многом другом…
                        p Мы придём к Вам с продуктами, которые Вы покупаете в магазине, заглянем из интернета, подмигнем с книжной полки, с экрана телевизора, пригласим в путешествие вместе с нами…
                        p Мы будем исследовать нашу страну, приглашая замечательных людей, которые кормят нас – каждый в своем регионе, городе, поселке – к участию и рассказу о своей самобытной малой родине.
                        h4 Проект «География еды» выбирает лучших производителей продуктов питания и делится с Вами не только вкусом и ароматом, но также информацией. 
                        p Маленькая открытка в каждой упаковке, фотография, сайт, а также книги специальной кулинарной серии «География еды» будут рассказывать Вам свои истории, рисовать картины прошлого и настоящего, легенды и были народов России… Каждый раз это будет что-то новое, интересное и захватывающее о тех краях, где мы живем – все вместе…
                        p «География еды» – просветительский проект, который позволяет донести элементы истории, культуры, географии, этнографии и кулинарии регионов России до большого числа людей путем подачи информации через повседневную процедуру покупки продуктов питания.
                        p Коммерческой составляющей проекта является возможность вывода по-настоящему качественных продуктов питания в достойный ценовой сегмент за счет высокой узнаваемости бренда, его повсеместного присутствия, защищенности патентами, тщательной проработки деталей, сотрудничества со множеством производителей. Это позволит окупить затраты на сопровождение бренда и дать дополнительную прибыль производствам.
                        p Задача проекта – выбрать в каждом регионе лучших производителей высококачественных продуктов питания, облечь эти продукты в оригинальную упаковку под брендом «География еды». Упаковка будет содержать в себе узнаваемые особенности региона (символы, орнамент), а также вложение в виде книжечки-открытки с небольшой статьей и фотографией о регионе, которые будут меняться с каждой партией продукта (до 100 вариантов в год по каждому региону). Это позволит обычным людям, регулярно покупающим такие продукты, лучше узнать данный регион нашей страны, проникнуться его особенностями, почувствовать его «вкус»…
                        p Поддержку проекту окажет сайт, постепенно пополняющийся новыми разделами о регионах по мере распространения «Географии еды». На нём будет размещена информация о выпускаемых продуктах питания, представлено содержание всех сопроводительных книжечек-открыток. Также будут публиковаться и совершенно неожиданные, малоизвестные факты о регионах России, о которых знают только специалисты и краеведы. Не претендуя на исчерпывающую глубину изложения, сайт будет представлять из себя своеобразный каталог, опираясь на который можно почерпнуть более развернутую информацию на специализированных ресурсах. Сайт будет развиваться и расти по мере распространения проекта, пополняться новой информацией, становиться своеобразным путеводителем по нашей стране…
                        h4 В рамках проекта планируется выпуск серии кулинарных книг «География еды», которые расскажут о кухне каждого региона, позволят приобщиться к кулинарным традициям разных народов России. Уже готова к выпуску первая такая книга – «Адыгейская кухня».
                        p Продажа продукции под брендом «География еды» будет осуществляться самими производителями продуктов питания по уже существующим системам сбыта, где они привыкли работать. Это позволит товарам быстро появиться на полках, минимизировать затраты на рекламу, получить широкий охват торговых точек, стать узнаваемыми в разных регионах. 
                        p Производители продуктов питания под нашим брендом получат новый сегмент рынка и дополнительную прибыль за счет универсальности бренда, оригинального стиля и необычного наполнения упаковки, а также гарантии высокого качества продукции под брендом «География еды».
                        p Дальнейшее развитие проекта предполагает привлечение телевидения, радио, выпуск сувениров, организацию «вкусных» туристических поездок за кулинарными шедеврами – и не только…
                        p Давайте вместе с «Географией еды» будем исследовать свою страну, её историю и культуру – кулинарную в том числе! В каждом регионе России найдем все лучшее, что там есть: пищу не только материальную, но и духовную!»

                        div(class="about-connection") Если вы хотите принять участие в проекте, мы ждем ваши звонок по телефону 
                            a(href="tel:9286788990", class="link link-black link--opacity") + 7 928 678 89 90&ensp;
                            a(href="mailto:info@foodgeo.ru", class="link link-send link--opacity") info@foodgeo.ru
