extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg", data-load, data-load-effect="zoom-opacity")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo", data-load, data-load-effect="opacity")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name", data-load, data-load-effect="opacity") Адыгея
            div(class="page-inner page-inner--w3", data-load, data-load-effect="bottom-opacity")
                div(class="region-section-container")
                    div(class="page-text")
                        div(class="region-section-prop")
                            div(class="region-section-date") 5 февраля 2018
                            div(class="region-section-views")
                                span(class="region-section-views-icon")
                                    include ../../prod/svg/views.svg
                                span(class="region-section-views-count") 290
                            div(class="region-section-topic") Культура и обычаи
                        h1 Гостеприимство
                        div(class="region-section-showmap")
                            button(class="button button--white region-section-button", data-goto="#map")
                                span(class="button-svg")
                                    include ../../prod/svg/point.svg
                                span(class="button-text") на карте
                        div(class="region-section-info")
                            img(src="../dummy/news/news_7.jpg")
                            h2 Гостеприимство считалось одной из основных добродетелей адыгов. К числу основополагающих принципов гостеприимства можно отнести:
                            p К числу основополагающих принци¬пов гостеприимства можно отнести:
                            ul
                                li Сакральный характер гостеприимства: гость считался посланником бога.
                                li Всеобщий характер гостеприимства: оно распространялось на любого человека, невзирая на его национальность, вероисповедание, возраст или пол
                                li Безопасность гостя полагалось отстаивать всеми возможными способами, даже ценой жизни хозяина. Нанесение любого ущерба гостю ¬– словом или действием – считалось тягчайшим преступлением.
                            div(class="region-tags")
                                div(class="region-tags-title") Теги
                                a(href="#", class="link link-dark link-black--bottom region-tags-name") Культура
                                a(href="#", class="link link-dark link-black--bottom region-tags-name") Адыгея
                                a(href="#", class="link link-dark link-black--bottom region-tags-name") Гостеприимство
                            div(class="social-block")
                                a(href="https://www.facebook.com/sharer.php?u=http://wemakesites.ru/projects/foodgeography/pages/sights-card.html", class="link social-item")
                                    div(class="social-item-icon")
                                        include ../../prod/svg/fb.svg
                                    div(class="social-item-count") 23
                                a(href="https://vk.com/share.php?url=http://wemakesites.ru/projects/foodgeography/pages/sights-card.html", class="link social-item")
                                    div(class="social-item-icon")
                                        include ../../prod/svg/vk.svg
                                    div(class="social-item-count") 341
                                a(href="https://twitter.com/intent/tweet?url=http://wemakesites.ru/projects/foodgeography/pages/sights-card.html", class="link social-item")
                                    div(class="social-item-icon")
                                        include ../../prod/svg/tw.svg
                                    div(class="social-item-count") 10
            
            div(class="region-section-similar", style="background: #fafafa;")
                div(class="page-inner page-inner--w2")
                    div(class="region-section-similar-more") 
                        div(class="region-section-similar-title") Еще по теме
                        div(class="region-section-similar-container")
                            div(class="region-section-similar-all") Все из категории
                            a(href="#", class="link link-black link-black--bottom-reverse region-section-similar-category") Культура и обычаи
                    div(class="flex-list")
                        div(class="flex-item flex-item--30")
                            a(href="culture-card.html", class="flex-container")
                                img(src="../dummy/news/news_12.jpg")
                            div(class="flex-date") 31 января 2018
                            a(href="#", class="link link-black flex-name") Серебряный ритон
                            div(class="flex-text") Адыгейский аул Уляп получил мировую известность благодаря кургану № 4-1982 (одному из 11 Уляпских курганов) в котором советским археологом А.М. Лесковым был найден знаменитый серебряный ритон.
                        div(class="flex-item flex-item--30")
                            a(href="culture-card.html", class="flex-container")
                                img(src="../dummy/news/news_8.png")
                            div(class="flex-date") 1 февраля 2018
                            a(href="culture-card.html", class="link link-black flex-name") Традиционное жилище
                            div(class="flex-text") Традиционное адыгское жилище представляло собой прямоугольный дом с двумя входами.                        
