extends ../templates/base

block content
    div(style="background-image: url(../dummy/home/main_bcg.jpg)", class="main-bcg")
        div(class="main-logo")
            include ../../prod/svg/logo.svg
            
            
    div(class="home-intro")
        div(class="home-intro-text")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 О проекте
                    h3 Где-то на востоке – озеро Байкал, Ледовитый океан – очень холодный и он на севере. На Камчатке курятся вулканы, а на Кавказе принято есть шашлык и дарить кинжалы…
                    p Каждый из нас обязательно где-то побывал, увидел что-то новое, необычное, неизведанное... Страна наша огромна, разнообразна и удивительна! Её просторы пропитаны великой историей, исследованы и взлелеяны множеством людей – отчаянных путешественников и упрямых земледельцев, бережно сохранены для нас не только героями, но и простыми людьми, чьих имен мы никогда не узнаем.
                    a(href="about.html", class="link link-black link-black--bottom more") Читать далее
                    
                    
    div(class="home-regions")
        div(class="page-text")
            h2 Регионы
            //div(id="mapYandex", data-center="[43.60405218, 39.73541935]", data-zoom="12", data-points="[{name:&quot;1&quot;, position: &quot;43.604412115253794,39.73532647212506&quot;, icon: &quot;&quot;, iconW: 55, iconH: 85, description:&quot;Сочи, ул. Пластунская, 81, 3 этаж, офис 17&quot;}]", class="home-regions-map")
            div(id="mapGoogle", data-lat="44.4817757", data-lng="39.1674024", data-zoom="9.5", class="home-regions-map")
            
            
    div(class="home-products")
        div(class="page-text")
            h2 Продукты    
        div(class="page-inner page-inner--w2")
            div(class="flex-list flex-list--products")
                div(class="flex-item flex-item--30")
                    a(href="product-card.html", class="flex-container")
                        img(src="../dummy/products/2_rez.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") молочные продукты
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Адыгея&#187;
                    a(href="product-card.html", class="link link-black flex-name") Сыр «Нити». Рассольный
                    
                div(class="flex-item flex-item--30")
                    a(href="product-card.html", class="flex-container")
                        img(src="../dummy/products/3_rez.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") молочные продукты
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Владивосток&#187;
                    a(href="product-card.html", class="link link-black flex-name") Сыр «Охотничий».
                        | Золотистый, копченый
                        
                div(class="flex-item flex-item--30")
                    a(href="#", class="flex-container")
                        img(src="../dummy/products/4_rez.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") молочные продукты
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Адыгея&#187;
                    a(href="product-card.html", class="link link-black flex-name") Сыр «Брынза». Рассольный
                    
        div(class="more-container")        
            a(href="regions-products.html", class="link link-darkgray more") показать все продукты
        
        
        
    div(class="home-records")
        div(class="page-text")
            h2 Свежие записи
        div(class="page-inner page-inner--w1")
            div(class="flex-list")
                div(class="flex-item flex-item--30")
                    a(href="regions-sights.html", class="flex-container")
                        img(src="../dummy/sights/sights_5.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    a(href="regions-sights.html", class="link link-black flex-name") Пещера Даховская
                    div(class="flex-text") Пещера Даховская находится неподалеку от одноименной станицы в Адыгее. Еще эту пещеру называют Грязной.
                div(class="flex-item flex-item--30")
                    a(href="regions-sights.html", class="flex-container")
                        img(src="../dummy/sights/sights_4.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    a(href="regions-sights.html", class="link link-black flex-name") Легенда о водопаде Сердце Руфабго
                    div(class="flex-text") Недалеко от поселка Хаджох в республике Адыгея, на месте впадения Руфабго в реку Белую лежит огромная каменная глыба, перегородившая этот горный ручей. 
                div(class="flex-item flex-item--30")
                    a(href="regions-sights.html", class="flex-container")
                        img(src="../dummy/sights/sights_2.jpg")
                    div(class="rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#160;&#160;&#8226;&#160;&#160;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    a(href="regions-sights.html", class="link link-black flex-name") Гора Фишт
                    div(class="flex-text") Одно из самых известных и красивых мест Кавказа – горный массив в западной части Главного Кавказского хребта, образованный тремя вершинами: Фишт (2867,7 м), высшая точка плато Лаго-Наки, Пшехо-Су (2743 м) и Оштен (2804 м).
