extends ../templates/base

block content
    div(style="background-image: url(../dummy/home/main_bcg.jpg)", class="main-bcg")
        div(class="main-logo")
            include ../../prod/svg/logo.svg
    div(class="home-intro")
        div(class="home-intro-text")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 О проекте
                    h3 Где-то на востоке – озеро Байкал, Ледовитый океан – очень холодный и он на севере. На Камчатке курятся вулканы, а на Кавказе принято есть шашлык и дарить кинжалы…
                    p Каждый из нас обязательно где-то побывал, увидел что-то новое, необычное, неизведанное... Страна наша огромна, разнообразна и удивительна! Её просторы пропитаны великой историей, исследованы и взлелеяны множеством людей – отчаянных путешественников и упрямых земледельцев, бережно сохранены для нас не только героями, но и простыми людьми, чьих имен мы никогда не узнаем.
                    a(href="#", target="_blank", class="link link-black link-black--bottom more") Читать далее
    div(class="home-regions")
        div(class="page-text")
            h2 Регионы
            //div(id="mapYandex", data-center="[43.60405218, 39.73541935]", data-zoom="12", data-points="[{name:&quot;1&quot;, position: &quot;43.604412115253794,39.73532647212506&quot;, icon: &quot;&quot;, iconW: 55, iconH: 85, description:&quot;Сочи, ул. Пластунская, 81, 3 этаж, офис 17&quot;}]", class="home-regions-map")
            div(id="mapGoogle", data-lat="64.32109853", data-lng="96.1502769", data-zoom="4.5", class="home-regions-map")
    div(class="home-products")
        div(class="page-text")
            h2 Продукты
        div(class="page-inner page-inner--w1")
            div(class="home-products-list")
                div(class="home-products-item")
                    a(href="#", class="link home-products-container")
                        img(src="../dummy/home/product_1.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") бакалея
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Кавказ&#187;
                    div(class="home-products-name")
                        a(href="#", class="link link-black link--opacity") Ассорти сухофруктов
                div(class="home-products-item")
                    a(href="#", class="link home-products-container")
                        img(src="../dummy/home/product_2.png", class="img")
          
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") молочные продукты
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Вологда&#187;
              
                    div(class="home-products-name")
                        a(href="#", class="link link-black link--opacity") Зеленый творог
                        
                div(class="home-products-item")
                    a(href="#", class="link home-products-container")
                        img(src="../dummy/home/product_3.png", class="img")
          
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") молочная продукция
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") серия &#171;Воронеж&#187;
              
                    div(class="home-products-name")
                        a(href="#", class="link link-black link--opacity") Творог рассыпчатый, 18%
        a(href="#", class="link link-darkgray more") показать все продукты
    div(class="home-records")
        div(class="page-text")
            h2 Свежие записи
        div(class="page-inner page-inner--w1")
            div(class="home-records-list")
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_1.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_2.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_3.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_4.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_5.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_6.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_7.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_8.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                div(class="home-records-item")
                    a(href="#", class="link home-records-container")
                        img(src="../dummy/news/news_9.png", class="img")
                    div(class="home-rubric")
                        a(href="#", class="link link-gray link-gray--bottom-reverse") ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                        span(class="point-delimiter") &#8226;
                        a(href="#", class="link link-gray link-gray--bottom-reverse") АДЫГЕЯ
                    div(class="home-records-name")
                        a(href="#", class="link link-black link--opacity") Легенда о Верблюд-горе
                    div(class="home-records-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
