extends ../templates/base

block content
    div(class="content-top")
        div(class="products-detail")
            div(class="page-inner page-inner--w3")
                div(class="page-text")
                    div(class="slider-container", data-load, data-load-effect="zoom-opacity")
                        div(class="slider slider--one owl-carousel")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/products/1_full.jpg", src="../dummy/products/1_full.jpg")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/products/1_full.jpg", src="../dummy/products/1_full.jpg")
                            div(class="slider-item")
                                div(class="slider-item-holder")
                                    img(class="owl-lazy", data-src="../dummy/products/1_full.jpg", src="../dummy/products/1_full.jpg")
                        div(class="slider-nav-counter")
                            span(class="slider-nav-counter-current")
                            span(class="slider-nav-counter-divider") / 
                            span(class="slider-nav-counter-all") 
                    div(class="page-inner page-inner--w4", data-load, data-load-effect="bottom-opacity")
                        h1 Сыр «Нити». Рассольный
                        div(class="products-category") серия «Адыгея»
                        div(class="products-section")
                            div(class="link--sand products-section-item toggle active", id="toggle_1") Описание
                            div(class="link--sand products-section-item toggle", id="toggle_2") Где купить
                            div(class="link--sand products-section-item toggle", id="toggle_3") Производитель
                        div(class="products-information")
                            div(class="products-information-container active active-animation", data-toggle="toggle_1")
                                p Сыр «Нити» является одним из пяти видов волокнистых рассольных сыров серии «Адыгея». Это один из разновидностей сыра Сулугуни.
                                p Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.  Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ. 
                                    span(class="toggle-text-container", data-toggle-text="moreinfo") Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.  Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ. 
                                a(href="#", class="link link-black link-black--bottom more toggle-text", data-toggle-link="moreinfo", data-toggle-text="Свернуть") Читать далее
                                dl
                                    dt Категория: 
                                    dd 
                                        a(href="#", class="link link-black link-black--bottom") рассольные сыры
                                    dt Состав:
                                    dd молоко коровье, молокосвёртывающий фермент животного происхождения, соль поваренная пищевая.
                                    dt Энергетическая ценность (ккал/100г.):
                                    dd белки –18,1 г, жиры - 21,2 г. 
                                    dt Массовая доля жира в пересчете на сухое вещество:
                                    dd 45 ± 3%. 
                                    dt Масса нетто:
                                    dd 100 г.
                                    dt Срок годности:
                                    dd 45 суток при температуре хранения от +2 до +6 °С и относительной влажности воздуха 70 - 90 %. После вскрытия упаковки хранить при температуре от + 2 до +6 °С не более 5 суток.
                                    dt Сертификация:
                                    dd ISO 22000-2007. 
                                    dt ТУ:
                                    dd 9225-002-97534984-17
                                div(class="region-tags")
                                    div(class="region-tags-title") Теги
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Горы
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Адыгея
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Памятники природы
                                div(class="social-block")
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/fb.svg
                                        div(class="social-item-count") 23
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/vk.svg
                                        div(class="social-item-count") 341
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/tw.svg
                                        div(class="social-item-count") 10
                            div(class="products-information-container", data-toggle="toggle_2")
                                div(class="products-shops")
                                    div(class="products-shops-title") Сетевые магазины
                                    div(class="products-shops-list")
                                        div(class="products-shops-item")
                                            img(src="../dummy/1.jpg")
                                        div(class="products-shops-item")
                                            img(src="../dummy/2.jpg")
                                        div(class="products-shops-item")
                                            img(src="../dummy/33.jpg")
                                div(class="products-shops")
                                    div(class="products-shops-list")
                                        div(class="page-text")
                                            dl
                                                dt Москва
                                                dd 
                                                    a(href="#", class="link link-black link-black--bottom products-link") Тихий Дон
                                                    span , 
                                                    a(href="#", class="link link-black link-black--bottom products-link") Produktoff
                                                    span , 
                                                    a(href="#", class="link link-black link-black--bottom products-link") m-express24.ru
                                                    span , 
                                                    a(href="#", class="link link-black link-black--bottom products-link") produktoff.com
                                div(class="products-shops products-shops--notborder")
                                    div(class="products-shops-title") Розничные магазины
                                    div(class="products-shops-list")
                                        div(class="page-text")
                                            dl
                                                dt интернет-магазины
                                                dd 
                                                    span «Империя продуктов», ул. Тверская, 89 «Этноеда», ул. Марата, 45 
                                                dt Краснодар
                                                dd
                                                    span «Трали-Валли», ул. Бабушкина, 789/2 «Почему?», ул. Марата, 45 
                                                dt Новороссийск
                                                dd
                                                    span «Магнит», ул. Красных  Партизан, 78
                                div(class="region-tags")
                                    div(class="region-tags-title") Теги
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Горы
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Адыгея
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Памятники природы
                                div(class="social-block")
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/fb.svg
                                        div(class="social-item-count") 23
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/vk.svg
                                        div(class="social-item-count") 341
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/tw.svg
                                        div(class="social-item-count") 10
                            div(class="products-information-container", data-toggle="toggle_3")
                                p Сыр «Нити» является одним из пяти видов волокнистых рассольных сыров серии «Адыгея». Это один из разновидностей сыра Сулугуни.
                                p Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.  Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ. 
                                    span(class="toggle-text-container", data-toggle-text="moreinfo") Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.  Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ. 
                                a(href="#", class="link link-black link-black--bottom more toggle-text", data-toggle-link="moreinfo", data-toggle-text="Свернуть") Читать далее
                                dl
                                    dt Категория: 
                                    dd 
                                        a(href="#", class="link link-black link-black--bottom") рассольные сыры
                                    dt Состав:
                                    dd молоко коровье, молокосвёртывающий фермент животного происхождения, соль поваренная пищевая.
                                    dt Энергетическая ценность (ккал/100г.):
                                    dd белки –18,1 г, жиры - 21,2 г. 
                                    dt Массовая доля жира в пересчете на сухое вещество:
                                    dd 45 ± 3%. 
                                    dt Масса нетто:
                                    dd 100 г.
                                    dt Срок годности:
                                    dd 45 суток при температуре хранения от +2 до +6 °С и относительной влажности воздуха 70 - 90 %. После вскрытия упаковки хранить при температуре от + 2 до +6 °С не более 5 суток.
                                    dt Сертификация:
                                    dd ISO 22000-2007. 
                                    dt ТУ:
                                    dd 9225-002-97534984-17
                                div(class="region-tags")
                                    div(class="region-tags-title") Теги
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Горы
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Адыгея
                                    a(href="#", class="link link-dark link-black--bottom region-tags-name") Памятники природы
                                div(class="social-block")
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/fb.svg
                                        div(class="social-item-count") 23
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/vk.svg
                                        div(class="social-item-count") 341
                                    a(href="#", class="link social-item")
                                        div(class="social-item-icon")
                                            include ../../prod/svg/tw.svg
                                        div(class="social-item-count") 10
            div(class="region-section-similar", style="background: #fafafa;")
                div(class="page-inner page-inner--w2")
                    div(class="region-section-similar-more") 
                        div(class="region-section-similar-title") Еще в серии &#171;Адыгея&#187;
                        div(class="region-section-similar-container")
                            div(class="region-section-similar-all") Все из категории
                            a(href="regions-products.html", class="link link-black link-black--bottom-reverse region-section-similar-category") Продукты
                    div(class="flex-list flex-list--products", id="products-list-load")
                        div(class="flex-item flex-item--30", data-filter-item="filter1")
                            a(href="product-card.html", class="flex-container")
                                img(src="../dummy/products/2_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="product-card.html", class="link link-black flex-name") Сыр «Лапша» 
                                br
                                | Косичка. Копченый, плетеный 
                                
                        div(class="flex-item flex-item--30", data-filter-item="filter1")
                            a(href="product-card.html", class="flex-container")
                                img(src="../dummy/products/3_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="#", class="link link-black flex-name")  Сыр «Охотничий»
                                br
                                | Золотистый. Копченый
                            
                            
                        div(class="flex-item flex-item--30", data-filter-item="filter2")
                            a(href="product-card.html", class="flex-container")
                                img(src="../dummy/products/4_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="product-card.html", class="link link-black flex-name") Сыр «Брынза».
                                br 
                                | Рассольный
