extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name") Адыгея
            div(class="page-inner page-inner--w3")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 Продукты
                    div(class="products-filter")
                        a(href="#filter", class="link link-gray products-filter-item active", data-filter="all", data-filter-url="products-load.html", data-filter-container="#products-list-load") Все
                        a(href="#filter", class="link link-gray products-filter-item", data-filter="filter1", data-filter-url="products-load.html", data-filter-container="#products-list-load") Молочная продукция
                        a(href="#filter", class="link link-gray products-filter-item", data-filter="filter2", data-filter-url="products-load.html", data-filter-container="#products-list-load") Мясо
                        a(href="#filter", class="link link-gray products-filter-item", data-filter="filter3", data-filter-url="products-load.html", data-filter-container="#products-list-load") Бакалея
                        a(href="#filter", class="link link-gray products-filter-item", data-filter="filter4", data-filter-url="products-load.html", data-filter-container="#products-list-load") Овощи и фрукты
                    
                    div(class="region-section-list")
                        div(class="flex-list flex-list--products", id="products-list-load")
                            div(class="flex-item flex-item--30", data-filter-item="filter1")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/2_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Лапша» 
                                    br
                                    | Косичка. Копченый, плетеный 
                                    
                            div(class="flex-item flex-item--30", data-filter-item="filter1")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/3_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="#", class="link link-black flex-name")  Сыр «Охотничий»
                                    br
                                    | Золотистый. Копченый
                                
                                
                            div(class="flex-item flex-item--30", data-filter-item="filter2")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/4_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Брынза».
                                    br 
                                    | Рассольный
                                
                            div(class="flex-item flex-item--30", data-filter-item="filter2")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/4_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Брынза».
                                    br 
                                    | Рассольный
                                
                            div(class="flex-item flex-item--30", data-filter-item="filter3")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/5_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Нити».
                                    br 
                                    | Копченый
                                
                            div(class="flex-item flex-item--30", data-filter-item="filter4")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/11_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Нити».
                                    br 
                                    | Рассольный
                                
                            div(class="flex-item flex-item--30", data-filter-item="filter5")
                                a(href="product-card.html", class="flex-container")
                                    img(src="../dummy/products/12_rez.jpg")
                                div(class="rubric")
                                    a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                                a(href="product-card.html", class="link link-black flex-name") Сыр «Лапша».
                                    br 
                                    | Рассольный, копченый                            
                        div(class="products-more load")
                            a(href="products-load.html?PAGE=test", data-container="#products-list-load", data-itemsselector=".flex-item", class="link load-more")
