extends ../templates/base

block content
    div(class="content-top")
        div(class="quality")
            div(class="page-inner page-inner--w4")
                div(class="page-text")
                    h1 Качество
                    h3 Все поставщики нашего проекта должны пройти сертификацию на соответствие Внутреннему стандарту Экспертиза.
                    p Цель сертификации: поддержание и повышение уровня качества и обеспечение максимальной прозрачности процесса производства. 
                    p Стоимость услуги сертификации рассчитывается специалистами LavkaLavka.Экспертиза по следующей формуле: 38 750 руб. (базовая ставка для одного производства одного поставщика - средства идут на оплату административной и экспертной работы, оплату работы инспектора) + стоимость доставки инспектора (рассчитывается индивидуально) + оплата проживания и командировочных инспектора (если необходимо).
                    p В случае, если для инспекции предоставляется несколько производств от одного поставщика, то к базовой стоимости добавляется 5000 руб. за каждое инспектируемое производство. 
                    p В случае, если поставщик по каким-то причинам не может полноценно заполнить план управления, к стоимости сертификации добавляется 3000 руб. за дополнительную работу инспектора и эксперта.
                    p С начальными требованиями к поставщикам можно ознакомиться по 
                        a(href="#", class="link link-send link--sand-bottom-reverse")ссылке.
            div(class="certificates", style="background: #fafafa;")
                div(class="page-inner page-inner--w2")
                    div(class="certificates-title") Сертификаты
                    div(class="certificates-list")
                        a(href="../dummy/certificates/2.jpg", class="certificates-item", data-fancybox="certificate")
                            img(src="../dummy/certificates/2.jpg")
                        a(href="../dummy/certificates/1.jpg", class="certificates-item", data-fancybox="certificate")
                            img(src="../dummy/certificates/1.jpg")
                        a(href="../dummy/certificates/4.jpg", class="certificates-item", data-fancybox="certificate")
                            img(src="../dummy/certificates/4.jpg")
                        a(href="../dummy/certificates/3.jpg", class="certificates-item", data-fancybox="certificate")
                            img(src="../dummy/certificates/3.jpg")
