extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name") Адыгея
            div(class="page-inner page-inner--w2")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 Достопримечательности
                        div(class="region-section-showmap")
                            button(class="button button--white region-section-button", data-goto="#map")
                                span(class="button-svg")
                                    include ../../prod/svg/point.svg
                                span(class="button-text") на карте
                    
                    div(class="region-section-list")    
                        div(class="flex-list")
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/news/news_1.png")
                                div(class="flex-date") 5 февраля 2018
                                a(href="#", class="link link-black flex-name") Легенда о Верблюд-горе
                                div(class="flex-text") Мы же расскажем легенду о скале, что на северном отроге горы Шидехет в Адыгее.
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/news/news_2.png")
                                div(class="flex-date") 31 января 2018
                                a(href="#", class="link link-black flex-name") Азишская пещера
                                div(class="flex-text") Большая Азишская пещера состоит из нескольких крупных залов и галереи нижнего этажа, по которой протекает подземная река. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/news/news_3.png")
                                div(class="flex-date") 1 февраля 2018
                                a(href="#", class="link link-black flex-name") Хаджохская теснина
                                div(class="flex-text") Каждого гостя Адыгеи обязательно везут сюда, чтобы показать это удивительное чудо природы.
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/1.jpg")
                                a(href="#", class="link link-black flex-name") Дольмены
                                div(class="flex-text") Величайшим достоянием древней истории по праву можно считать дольмены Адыгеи. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/2.jpg")
                                a(href="#", class="link link-black flex-name") Гора Монах
                                div(class="flex-text") Существует легенда, что гора получила свое название от монаха, жившего много лет назад на вершине горы, в маленькой, как келья, пещере. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/3.jpg")
                                a(href="#", class="link link-black flex-name") Гранитный каньон
                                div(class="flex-text") За миллионы лет вода и ветер образовали один из красивейших на Кавказе Гранитный каньон. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/4.jpg")
                                a(href="#", class="link link-black flex-name") Рафтинг на реке Белой
                                div(class="flex-text") Одним из сложившихся брендов Адыгеи для людей, ведущих спортивный образ жизни, является рафтинг на реке Белой. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/5.jpg")
                                a(href="#", class="link link-black flex-name") Каменное море
                                div(class="flex-text") Существует легенда, что гора получила свое название от монаха, жившего много лет назад на вершине горы, в маленькой, как келья, пещере. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/6.jpg")
                                a(href="#", class="link link-black flex-name") Хребет Азиш-Тау
                                div(class="flex-text") За миллионы лет вода и ветер образовали один из красивейших на Кавказе Гранитный каньон. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/7.jpg")
                                a(href="#", class="link link-black flex-name") Водопады Руфабго
                                div(class="flex-text") Одним из сложившихся брендов Адыгеи для людей, ведущих спортивный образ жизни, является рафтинг на реке Белой. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/8.jpg")
                                a(href="#", class="link link-black flex-name") Гора Фишт
                                div(class="flex-text") Существует легенда, что гора получила свое название от монаха, жившего много лет назад на вершине горы, в маленькой, как келья, пещере. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/9.jpg")
                                a(href="#", class="link link-black flex-name") Долина аммонитов
                                div(class="flex-text") За миллионы лет вода и ветер образовали один из красивейших на Кавказе Гранитный каньон. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/10.jpg")
                                a(href="#", class="link link-black flex-name") Ущелье и водопады Мишоко
                                div(class="flex-text") Река и ущелье Мишоко поражают своей неповторимой, загадочной красотой. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/11.jpg")
                                a(href="#", class="link link-black flex-name") Озеро Псенодах
                                div(class="flex-text") Существует легенда, что гора получила свое название от монаха, жившего много лет назад на вершине горы, в маленькой, как келья, пещере. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/12.jpg")
                                a(href="#", class="link link-black flex-name") Легенда о горной реке Шхагуаще
                                div(class="flex-text") За миллионы лет вода и ветер образовали один из красивейших на Кавказе Гранитный каньон. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/13.jpg")
                                a(href="#", class="link link-black flex-name") Хаджох
                                div(class="flex-text") Хаджох – уникальный горный курорт Адыгеи. 
                            div(class="flex-item flex-item--30")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/region/14.jpg")
                                a(href="#", class="link link-black flex-name") Перевал «Чертовы ворота»
                                div(class="flex-text") Перевал «Чертовы ворота» является яркой достопримечательностью Северного Кавказа.
                        
