extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name") Адыгея
            div(class="page-inner page-inner--w2")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 О регионе
                        div(class="region-section-info region-section-info--80")
                            div(class="slider-container")
                                div(class="slider slider--one owl-carousel")
                                    div(class="slider-item")
                                        div(class="slider-item-holder")
                                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                                    div(class="slider-item")
                                        div(class="slider-item-holder")
                                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                                div(class="slider-nav-counter")
                                    span(class="slider-nav-counter-current")
                                    span(class="slider-nav-counter-divider") / 
                                    span(class="slider-nav-counter-all") 
                            h2 Адыгея славится плодородием своей земли, мягким климатом, щедростью и гостеприимством местных жителей.
                            p Республика Адыгея — один из живописных уголков Российской Федерации, расположена в центральной части Северо-Западного Кавказа, в бассейнах рек Кубани, Лабы и Белой. Адыгея на севере и северо-востоке ограничена рекой Кубанью и ее притоком Лабой, на юге — Главным Кавказским хребтом, на юго-востоке и юго-западе граница проходит изломанной линией, отражающей особенности расселения адыгов в бассейнах рек Чехрак, Фарс, Белая, Пшиш, Псекупс, Афипс и других.
                            p Более одной трети площади Адыгеи занимают особо охраняемые природные территории различного статуса и категорий.
                            p Поистине Адыгея – это уникальный райский уголок: западная часть Большого Кавказа по разнообразию флоры и фауны, их сохранности, не имеет себе равных не только в Кавказском регионе, но и среди других горных районов Европы и Западной Азии. Это территория, где сосредоточено большое количество находящихся под угрозой исчезновения редких, эндемичных и реликтовых видов растений и животных.
                            h3 Адыгею каждый год посещают тысячи туристов. Они приезжают сюда, чтобы сплавиться по рекам, пройти горными тропами, совершить восхождения, покататься на сноубордах и лыжах. Обширные территории девственной природы, большое разнообразие рельефа, дремучие заповедные леса, прекрасные каньоны горных рек, потрясающие альпийские луга манят к себе почитателей активного отдыха.
                            p Адыгея предлагает туристам и отдыхающим огромный спектр видов активного отдыха - водный туризм, альпинизм, каньонинг, горные лыжи, дельтапланеризм, спелеотуризм, езду на снегоходах, внедорожниках и квадроциклах. Также популярными видами отдыха в республике являются пеший, велосипедный и конный туризм.
                            p В районе селения Гузерипль на реке Белой ежегодно проходят туристическо-спортивные игры «Интерралли Белая». На протяжении всего года проводятся разные соревнования.
                            img(src="../dummy/regions/regions_slider_1.jpg")
                            h2 Большинство достопримечательностей Адыгеи были созданы самой природой – горы, реки, озера, водопады. 
                            p Это настоящий рай для людей, которые любят однодневные и многодневные походы. Очень популярными маршрутами являются маршруты через плато Лаго-Наки с восхождением на Оштен, Пшехо-Су или Фишт. Туристы и отдыхающие, остановившиеся в поселке Каменномостский, могут посетить: водопады Руфабго, Хаджохскую теснину, пещеру Сквозную и другие достопримечательности. По дороге от поселка Каменномостский к Гузериплю можно посетить гору Монах возле поселка Хамышки, Гранитный каньон и Казачий камень.
                            p Помимо природных достопримечательностей Адыгея славится и другими интересными местами. Например, Свято-Михайловским монастырем, расположенным в поселке Победа, многочисленными дольменами, старинными башнями и пр.
