extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name") Адыгея
            div(class="page-inner page-inner--w2")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 Достопримечательности
                        div(class="region-section-showmap")
                            button(class="button button--white region-section-button", data-goto="#map")
                                span(class="button-svg")
                                    include ../../prod/svg/point.svg
                                span(class="button-text") на карте
                    
                    div(class="region-section-list")    
                        div(class="flex-list")
                            div(class="flex-item flex-item--30")
                                a(href="sights-card.html", class="flex-container")
                                    img(src="../dummy/sights/sights_5.jpg")
                                a(href="sights-card.html", class="link link-black flex-name") Пещера Даховская
                                div(class="flex-text") Пещера Даховская находится неподалеку от одноименной станицы в Адыгее. Еще эту пещеру называют Грязной.
                            div(class="flex-item flex-item--30")
                                a(href="sights-card.html", class="flex-container")
                                    img(src="../dummy/sights/sights_4.jpg")
                                a(href="sights-card.html", class="link link-black flex-name") Легенда о водопаде Сердце Руфабго
                                div(class="flex-text") Недалеко от поселка Хаджох в республике Адыгея, на месте впадения Руфабго в реку Белую лежит огромная каменная глыба, перегородившая этот горный ручей. 
                            div(class="flex-item flex-item--30")
                                a(href="sights-card.html", class="flex-container")
                                    img(src="../dummy/sights/sights_2.jpg")
                                a(href="sights-card.html", class="link link-black flex-name") Гора Фишт
                                div(class="flex-text") Одно из самых известных и красивых мест Кавказа – горный массив в западной части Главного Кавказского хребта, образованный тремя вершинами: Фишт (2867,7 м), высшая точка плато Лаго-Наки, Пшехо-Су (2743 м) и Оштен (2804 м).
                            div(class="flex-item flex-item--30")
                                a(href="sights-card.html", class="flex-container")
                                    img(src="../dummy/sights/sights_6.jpg")
                                a(href="sights-card.html", class="link link-black flex-name") Хаджохская теснина
                                div(class="flex-text") Каждого гостя Адыгеи обязательно везут сюда, чтобы показать это удивительное чудо природы.
                        
