extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg", data-load, data-load-effect="zoom-opacity")
                img(src="../dummy/regions/regions-img.jpg")
            div(class="region-section-logo", data-load, data-load-effect="opacity")
                include ../../prod/svg/regions-logo-white.svg
            div(class="region-section-name", data-load, data-load-effect="opacity") Адыгея
            div(class="page-inner page-inner--w2", data-load, data-load-effect="bottom-opacity")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 Кухня
                    div(class="region-section-list")    
                        div(class="flex-list")
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/1.jpg")
                                a(href="#", class="link link-black flex-name") Адыгейский сыр
                                div(class="flex-text") Адыги с древнейших времён вырабатывают кисломолочные и сычужные сыры, вкусные, полезные и практичные в хранении.
                            div(class="flex-list flex-item--48")
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/2.jpg")
                                    a(href="#", class="link link-black flex-name") Щху – кислое молоко
                                    div(class="flex-text") Самым известным и популярным кисломолочным продуктом адыгейской кухни, без которого не обходится ни один стол, является кислое молоко – щху.
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/3.jpg")
                                    a(href="#", class="link link-black flex-name") Бульон для щипс
                                    div(class="flex-text") В адыгейской кухне щипс является «блюдом №1» и наряду с адыгейским сыром считается «визитной карточкой» национальной кулинарии.
                            div(class="flex-list flex-item--48")
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/7.jpg")
                                    a(href="#", class="link link-black flex-name") Халюж – чебуреки с адыгейским сыром
                                    div(class="flex-text") Очень вкусные пирожки с адыгейским сыром, мягкие внутри и хрустящие снаружи, по форме – маленькие чебуреки. Особенно хороши они с пылу с жару – сочные и воздушные!
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/5.jpg")
                                    a(href="#", class="link link-black flex-name") Шашлык по-адыгейски
                                    div(class="flex-text") Древнейшее блюдо, изобретенное людьми – запеченное на углях мясо или шашлык.
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/5.jpg")
                                a(href="#", class="link link-black flex-name") Курица с прянностями
                                div(class="flex-text") Одно из самых простых, но в то же время вкусных блюд. Вы удивитесь как можно так просто приготовить курицу!
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/5.jpg")
                                a(href="#", class="link link-black flex-name") Курица с прянностями
                                div(class="flex-text") Одно из самых простых, но в то же время вкусных блюд. Вы удивитесь как можно так просто приготовить курицу!
                            div(class="flex-list flex-item--48")
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/7.jpg")
                                    a(href="#", class="link link-black flex-name") Халюж – чебуреки с адыгейским сыром
                                    div(class="flex-text") Очень вкусные пирожки с адыгейским сыром, мягкие внутри и хрустящие снаружи, по форме – маленькие чебуреки. Особенно хороши они с пылу с жару – сочные и воздушные!
                                div(class="flex-item flex-item--48")
                                    a(href="#", class="flex-container")
                                        img(src="../dummy/kitchen/5.jpg")
                                    a(href="#", class="link link-black flex-name") Шашлык по-адыгейски
                                    div(class="flex-text") Древнейшее блюдо, изобретенное людьми – запеченное на углях мясо или шашлык.
                        
