extends ../templates/base

block content
    div(class="content-top")
        div(class="region-detail")
            div(class="region-detail-logo")
                include ../../prod/svg/regions-logo.svg
            div(class="region-detail-back")
                a(href="regions.html", class="link link-black link-black--bottom-reverse") Регионы
            div(class="region-detail-name") Адыгея
            div(class="region-detail-sections")
                a(href="#", class="link link-black link-black--bottom-reverse region-detail-sections-item") География
                a(href="#", class="link link-black link-black--bottom-reverse region-detail-sections-item") История
                a(href="#", class="link link-black link-black--bottom-reverse region-detail-sections-item") Достопримечательности
                a(href="#", class="link link-black link-black--bottom-reverse region-detail-sections-item") Культура и обычаи
                a(href="#", class="link link-black link-black--bottom-reverse region-detail-sections-item") Кухня
            div(class="region-container")
                img(src="../dummy/regions/regions-img.jpg", class="region-img")
            div(class="region-about")
                div(class="page-text")
                    div(class="region-about-text")
                        h2 О проекте
                        h3 Адыгея славится плодородием своей земли, мягким климатом, щедростью и гостеприимством местных жителей.
                        p Республика Адыгея — один из живописных уголков Российской Федерации, расположена в центральной части Северо-Западного Кавказа, в бассейнах рек Кубани, Лабы и Белой. Адыгея на севере и северо-востоке ограничена рекой Кубанью и ее притоком Лабой, на юге — Главным Кавказским хребтом, на юго-востоке и юго-западе граница проходит изломанной линией, отражающей особенности расселения адыгов в бассейнах рек Чехрак, Фарс, Белая, Пшиш, Псекупс, Афипс и других.
                        p Более одной трети площади Адыгеи занимают особо охраняемые природные территории различного статуса и категорий. 
                    div(class="slider owl-carousel")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                    div(class="region-about-text")
                        p Поистине Адыгея – это уникальный райский уголок: западная часть Большого Кавказа по разнообразию флоры и фауны, их сохранности, не имеет себе равных не только в Кавказском регионе, но и среди других горных районов Европы и Западной Азии. Это территория, где сосредоточено большое количество находящихся под угрозой исчезновения редких, эндемичных и реликтовых видов растений и животных.
                    a(href="#", class="link link-black link-black--bottom more") Читать далее
            div(class="region-sights", style="background: #fafafa;")
                div(class="page-inner page-inner--w2")
                    div(class="page-text")
                        h2 Достопримечательности
                    div(class="flex-list flex-list--3")
                        div(class="flex-item")
                            div(class="flex-container")
                                img(src="../dummy/sights/sights_1.jpg", class="flex-img")
                            div(class="flex-name") Гранитный каньон
                            div(class="flex-text") За миллионы лет вода и ветер образовали один из красивейших на Кавказе Гранитный каньон. 
                        div(class="flex-item")
                            div(class="flex-container")
                                img(src="../dummy/sights/sights_2.jpg", class="flex-img")
                            div(class="flex-name") Рафтинг на реке Белой
                            div(class="flex-text") Одним из сложившихся брендов Адыгеи для людей, ведущих спортивный образ жизни, является рафтинг на реке Белой. 
                        div(class="flex-item")
                            div(class="flex-container")
                                img(src="../dummy/sights/sights_3.jpg", class="flex-img")
                            div(class="flex-name") Гора Фишт
                            div(class="flex-text") Существует легенда, что гора получила свое название от монаха, жившего много лет назад на вершине горы, в маленькой, как келья, пещере. 
                    a(href="#", class="link link-black link-black--bottom more") Показать все
            div(class="region-history")
                div(class="page-text")
                    h2 Достопримечательности
                    h3 Предки адыгов (современных адыгейцев, кабардинцев и черкесов) известны в истории под именами меотов.
                    div(class="history-info")
                        div(class="history-container")
                            img(src="../dummy/history.jpg", class="history-img")
                        div(class="history-text")
                            p Древнейшие следы человека в окрестностях современного Майкопа относятся к эпохе нижнего палеолита. Первые знаменитые курганы, в которых найдены великолепные изделия из драгоценных металлов, открыты в Прикубанье в дореволюционное время. В их числе знаменитый курган, раскопанный в г. Майкопе в 1897 году профессором Н.И. Веселовским, давший наименование культуре в целом.
                            p Предки адыгов (современных адыгейцев, кабардинцев и черкесов) известны в истории под именами меотов,  синдов,  керкетов – в середине I тысячелетия до н. э. они обитали вдоль восточного побережья Азовского и северо-восточного побережья Черного моря, а также в низовьях реки Кубани. В I–III веках н. э. многие адыгские племена смешались с сарматскими, вместе с которыми в IV веке были оттеснены готами на современную территорию. В IV –X веках н. э. адыги занимались земледелием и скотоводством…
                            a(href="#", class="link link-black link-black--bottom more") Читать далее
            div(class="region-culture")
                div(class="page-text")
                    h2 Культура и обычаи
                div(class="flex-list flex-list--3")
                    div(class="flex-item")
                        div(class="flex-container")
                            img(src="../dummy/news/news_7.jpg", class="flex-img")
                        div(class="flex-date") 5 февраля 2018
                        div(class="flex-name") Женская красота
                        div(class="flex-text") «Женщина красива своими бровями» – говорили адыги. Ценились брови вразлет, подобно хвосту ласточки. 
                    div(class="flex-item")
                        div(class="flex-container")
                            img(src="../dummy/news/news_8.jpg", class="flex-img")
                        div(class="flex-date") 31 января 2018
                        div(class="flex-name") Традиционное жилище адыгов
                        div(class="flex-text") Традиционное адыгское жилище представляло собой прямоугольный дом с двумя входами.
                    div(class="flex-item")
                        div(class="flex-container")
                            img(src="../dummy/sights/news_10.jpg", class="flex-img")
                        div(class="flex-date") 1 февраля 2018
                        div(class="flex-name") Лошадь черкесской породы
                        div(class="flex-text") Среди знаменитых пород лошадей – ахалтекинских и арабских, орловских и донских – свое почетное место занимает адыгская или черкесская порода лошадей. 
                a(href="#", class="link link-black link-black--bottom more") Показать все
