extends ../templates/base

block content
    div(class="content-top")
        div(class="region-detail")
            div(class="region-detail-logo", data-load, data-load-effect="opacity")
                include ../../prod/svg/regions-logo.svg
            div(class="region-detail-back", data-load, data-load-effect="opacity")
                a(href="regions.html", class="link link-black link-black--bottom-reverse") Регионы
            
            div(class="region-detail-fixed", data-load, data-load-effect="opacity")
                div(class="region-detail-name") Адыгея
                
                div(class="region-detail-sections")
                    a(href="#", data-goto=".region-about", data-goto-margintop="120", class="link link-black link-black--bottom-reverse region-detail-sections-item") О регионе
                    a(href="#", data-goto=".region-history", data-goto-margintop="120", class="link link-black link-black--bottom-reverse region-detail-sections-item") История
                    a(href="#", data-goto=".region-sights", data-goto-margintop="120", class="link link-black link-black--bottom-reverse region-detail-sections-item") Достопримечательности
                    a(href="#", data-goto=".region-culture", data-goto-margintop="120", class="link link-black link-black--bottom-reverse region-detail-sections-item") Культура и обычаи
                    a(href="#", data-goto=".region-kitchen", data-goto-margintop="120", class="link link-black link-black--bottom-reverse region-detail-sections-item") Кухня
                    
            div(class="region-container", data-load, data-load-effect="bottom-opacity")
                img(src="../dummy/regions/regions-img.jpg", class="region-img")
                
            div(class="region-about")
                div(class="page-text")
                    div(class="region-about-text")
                        a(href="regions-about.html", class="link link--opacity h2")
                            h2(data-hover="О регионе") О регионе
                        h3 Адыгея славится плодородием своей земли, мягким климатом, щедростью и гостеприимством местных жителей.
                        p Республика Адыгея — один из живописных уголков Российской Федерации, расположена в центральной части Северо-Западного Кавказа, в бассейнах рек Кубани, Лабы и Белой. Адыгея на севере и северо-востоке ограничена рекой Кубанью и ее притоком Лабой, на юге — Главным Кавказским хребтом, на юго-востоке и юго-западе граница проходит изломанной линией, отражающей особенности расселения адыгов в бассейнах рек Чехрак, Фарс, Белая, Пшиш, Псекупс, Афипс и других.
                        p Более одной трети площади Адыгеи занимают особо охраняемые природные территории различного статуса и категорий. 
                    div(class="slider slider--full owl-carousel")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_1.jpg", src="../dummy/regions/regions_slider_1.jpg")
                        div(class="slider-item")
                            img(class="owl-lazy", data-src="../dummy/regions/regions_slider_2.jpg", src="../dummy/regions/regions_slider_2.jpg")
                    div(class="region-about-text")
                        p Поистине Адыгея – это уникальный райский уголок: западная часть Большого Кавказа по разнообразию флоры и фауны, их сохранности, не имеет себе равных не только в Кавказском регионе, но и среди других горных районов Европы и Западной Азии. Это территория, где сосредоточено большое количество находящихся под угрозой исчезновения редких, эндемичных и реликтовых видов растений и животных.
                    div(class="more-container")
                        a(href="regions-about.html", class="link link-black link-black--bottom more") Читать далее

        
            div(class="region-sights", style="background: #fafafa;")
                div(class="page-inner page-inner--w2")
                    div(class="page-text")
                        a(href="regions-sights.html", class="link link--opacity h2")
                            h2(data-hover="Достопримечательности") Достопримечательности
                    div(class="flex-list")
                        div(class="flex-item flex-item--30")
                            a(href="regions-sights.html", class="flex-container")
                                img(src="../dummy/sights/sights_5.jpg")
                            a(href="regions-sights.html", class="link link-black flex-name") Пещера Даховская
                            div(class="flex-text") Пещера Даховская находится неподалеку от одноименной станицы в Адыгее. Еще эту пещеру называют Грязной.
                        div(class="flex-item flex-item--30")
                            a(href="regions-sights.html", class="flex-container")
                                img(src="../dummy/sights/sights_4.jpg")
                            a(href="regions-sights.html", class="link link-black flex-name") Легенда о водопаде Сердце Руфабго
                            div(class="flex-text") Недалеко от поселка Хаджох в республике Адыгея, на месте впадения Руфабго в реку Белую лежит огромная каменная глыба, перегородившая этот горный ручей. 
                        div(class="flex-item flex-item--30")
                            a(href="regions-sights.html", class="flex-container")
                                img(src="../dummy/sights/sights_2.jpg")
                            a(href="regions-sights.html", class="link link-black flex-name") Гора Фишт
                            div(class="flex-text") Одно из самых известных и красивых мест Кавказа – горный массив в западной части Главного Кавказского хребта, образованный тремя вершинами: Фишт (2867,7 м), высшая точка плато Лаго-Наки, Пшехо-Су (2743 м) и Оштен (2804 м).
                    div(class="more-container")
                        a(href="regions-sights.html", class="link link-black link-black--bottom more") Показать все

        
            div(class="region-history")
                div(class="page-text")
                    a(href="regions-history.html", class="link link--opacity h2")
                        h2(data-hover="История") История
                    h3 Предки адыгов (современных адыгейцев, кабардинцев и черкесов) известны в истории под именами меотов.
                    div(class="page-inner page-inner--w2")
                        div(class="history-info")
                            div(class="history-container")
                                img(src="../dummy/history.jpg", class="history-img")
                            div(class="history-text")
                                p Древнейшие следы человека в окрестностях современного Майкопа относятся к эпохе нижнего палеолита. Первые знаменитые курганы, в которых найдены великолепные изделия из драгоценных металлов, открыты в Прикубанье в дореволюционное время. В их числе знаменитый курган, раскопанный в г. Майкопе в 1897 году профессором Н.И. Веселовским, давший наименование культуре в целом.
                                p Предки адыгов (современных адыгейцев, кабардинцев и черкесов) известны в истории под именами меотов,  синдов,  керкетов – в середине I тысячелетия до н. э. они обитали вдоль восточного побережья Азовского и северо-восточного побережья Черного моря, а также в низовьях реки Кубани. В I–III веках н. э. многие адыгские племена смешались с сарматскими, вместе с которыми в IV веке были оттеснены готами на современную территорию. В IV –X веках н. э. адыги занимались земледелием и скотоводством
                                    span(class="text-points", data-toggle-text-points="history") ...
                                    span(data-toggle-text="history" class="toggle-text-container") Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.  Сулугуни – прекрасный источник белка, молочного жира, аминокислот, витаминов и микроэлементов. В комплексе эти вещества способствуют укреплению костной ткани и нервной системы, полезны для сердца, укрепляют иммунитет, нормализуют гормональный фон и обмен веществ.
                                a(href="regions-history.html", data-toggle-link="history" data-toggle-text="Свертнуть" class="link link-black link-black--bottom more toggle-text") Читать далее


            div(class="region-culture", style="background: #fafafa;")
                div(class="page-text")
                    a(href="regions-culture.html", class="link link--opacity h2")
                        h2(data-hover="Культура и обычаи") Культура и обычаи
                div(class="page-inner page-inner--w2")    
                    div(class="flex-list")
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/news/news_7.jpg")
                            div(class="flex-date") 5 февраля 2018
                            a(href="regions-culture.html", class="link link-black flex-name") Гостеприимство
                            div(class="flex-text") Гостеприимство считалось одной из основных добродетелей адыгов.
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/news/news_12.jpg")
                            div(class="flex-date") 31 января 2018
                            a(href="#", class="link link-black flex-name") Серебряный ритон
                            div(class="flex-text") Адыгейский аул Уляп получил мировую известность благодаря кургану № 4-1982 (одному из 11 Уляпских курганов) в котором советским археологом А.М. Лесковым был найден знаменитый серебряный ритон.
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/news/news_8.png")
                            div(class="flex-date") 1 февраля 2018
                            a(href="regions-culture.html", class="link link-black flex-name") Традиционное жилище
                            div(class="flex-text") Традиционное адыгское жилище представляло собой прямоугольный дом с двумя входами.
                    div(class="more-container")
                        a(href="regions-culture.html", class="link link-black link-black--bottom more") Показать все

            
            div(class="region-kitchen")
                div(class="page-text")
                    a(href="regions-kitchen.html", class="link link--opacity h2")
                        h2(data-hover="Кухня") Кухня
                div(class="page-inner page-inner--w2")    
                    div(class="flex-list")
                        div(class="flex-item flex-item--48")
                            a(href="#", class="flex-container")
                                img(src="../dummy/kitchen/1.jpg")
                            a(href="#", class="link link-black flex-name") Адыгейский сыр
                            div(class="flex-text") Адыги с древнейших времён вырабатывают кисломолочные и сычужные сыры, вкусные, полезные и практичные в хранении.
                        div(class="flex-list flex-item--48")
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/2.jpg")
                                a(href="#", class="link link-black flex-name") Щху – кислое молоко
                                div(class="flex-text") Самым известным и популярным кисломолочным продуктом адыгейской кухни, без которого не обходится ни один стол, является кислое молоко – щху.
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/3.jpg")
                                a(href="#", class="link link-black flex-name") Бульон для щипс
                                div(class="flex-text") В адыгейской кухне щипс является «блюдом №1» и наряду с адыгейским сыром считается «визитной карточкой» национальной кулинарии.
                        div(class="flex-list flex-item--48")
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/7.jpg")
                                a(href="#", class="link link-black flex-name") Халюж – чебуреки с адыгейским сыром
                                div(class="flex-text") Очень вкусные пирожки с адыгейским сыром, мягкие внутри и хрустящие снаружи, по форме – маленькие чебуреки. Особенно хороши они с пылу с жару – сочные и воздушные!
                            div(class="flex-item flex-item--48")
                                a(href="#", class="flex-container")
                                    img(src="../dummy/kitchen/5.jpg")
                                a(href="#", class="link link-black flex-name") Шашлык по-адыгейски
                                div(class="flex-text") Древнейшее блюдо, изобретенное людьми – запеченное на углях мясо или шашлык.
                        div(class="flex-item flex-item--48")
                            a(href="#", class="flex-container")
                                img(src="../dummy/kitchen/5.jpg")
                            a(href="#", class="link link-black flex-name") Курица с прянностями
                            div(class="flex-text") Одно из самых простых, но в то же время вкусных блюд. Вы удивитесь как можно так просто приготовить курицу!
                    div(class="more-container")
                        a(href="regions-kitchen.html", class="link link-black link-black--bottom more") Показать все
            
            
            div(class="region-products")
                div(class="page-inner page-inner--w2")
                    div(class="page-text")
                        a(href="regions-products.html", class="link link--opacity h2")
                            h2(data-hover="Продукты") Продукты
                        div(class="region-products-series") Серия «Адыгея»
                    div(class="flex-list flex-list--products")
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/products/2_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="regions-culture.html", class="link link-black flex-name") Сыр «Лапша» 
                                br
                                | Косичка. Копченый, плетеный 
                                
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/products/3_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="#", class="link link-black flex-name")  Сыр «Охотничий»
                                br
                                | Золотистый. Копченый
                            
                            
                        div(class="flex-item flex-item--30")
                            a(href="regions-culture.html", class="flex-container")
                                img(src="../dummy/products/4_rez.jpg")
                            div(class="rubric")
                                a(href="#", class="link link-gray link-gray--bottom-reverse") Молочная продукция
                            a(href="regions-culture.html", class="link link-black flex-name") Сыр «Брынза».
                                br 
                                | Рассольный

                div(class="more-container")
                    a(href="regions-products.html", class="link link-darkgray more") показать все продукты региона
