extends ../templates/base

block content
    div(class="content-top")
        div(class="regions")
            div(class="page-text", data-load, data-load-effect="opacity")
                h1(class="center") Регионы
            div(class="toggle-items", data-load, data-load-effect="opacity")
                button(class="toggle-button button--sand active active-tab", data-tab="tab_1")
                    span(class="button-svg")
                        include ../../prod/svg/point.svg
                    span(class="button-text") на карте
                button(class="toggle-button button--sand", data-tab="tab_2")
                    span(class="button-svg")
                        include ../../prod/svg/grid.svg
                    span(class="button-text") списком
            div(class="tabs")
                div(class="tab", data-item="tab_1", data-load, data-load-effect="zoom-opacity")
                    div(class="map-container")
                        div(id="mapGoogle", data-lat="64.32109853", data-lng="96.1502769", data-zoom="5", class="map", data-info='{ "name":"Адыгея", "icon": "../svg/regions-logo.svg", "link": "/regions-detail.html/"}')
                div(class="tab", data-item="tab_2")
                    div(class="page-inner page-inner--w2")
                        div(class="regions-list-container")
                            div(class="regions-list", id="regions-list-load")
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_1.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Адыгея
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_2.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Сахалин
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_3.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Мурманская область
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_4.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Камчатка
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_5.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Дагестан
                                a(href="regions-detail.html",class="link link-black regions-item")
                                    div(class="regions-container")
                                        img(src="../dummy/regions/regions_6.jpg", class="regions-img")
                                        div(class="regions-about-list")
                                            div(class="regions-about-item")
                                                span(class="link") География
                                            div(class="regions-about-item")
                                                span(class="link") История
                                            div(class="regions-about-item")
                                                span(class="link") Достопримечательности
                                            div(class="regions-about-item")
                                                span(class="link") Культура и обычаи
                                            div(class="regions-about-item")
                                                span(class="link") Кухня
                                            div(class="regions-about-item")
                                                span(class="link") Продукты
                                    div(class="regions-name") Кабардино-Балкария
                            div(class="regions-more load") 
                                a(href="regions-load.html?PAGE=test", data-container="#regions-list-load", data-itemsselector=".regions-item", class="link load-more")
                
