extends ../templates/base

block content
    div(class="content-top")
        div(class="region-section")
            div(class="region-section-bcg", data-load, data-load-effect="zoom-opacity")
                img(src="../dummy/regions/regions-img.jpg")
            a(href="regions-detail.html", class="link region-section-logo", data-load, data-load-effect="opacity")
                include ../../prod/svg/regions-logo-white.svg
            a(href="regions-detail.html", class="link region-section-name", data-load, data-load-effect="opacity") Адыгея
            div(class="page-inner page-inner--w2", data-load, data-load-effect="bottom-opacity")
                div(class="region-section-container")
                    div(class="page-text")
                        h1 История
                        div(class="region-section-info region-section-info--80")
                            img(src="../dummy/history.jpg")
                            p Древнейшие следы человека в окрестностях современного Майкопа относятся к эпохе нижнего палеолита. Первые знаменитые курганы, в которых найдены великолепные изделия из драгоценных металлов, открыты в Прикубанье в дореволюционное время. В их числе знаменитый курган, раскопанный в г. Майкопе в 1897 году профессором Н.И. Веселовским, давший наименование культуре в целом.
                            p Предки адыгов (современных адыгейцев, кабардинцев и черкесов) известны в истории под именами меотов,  синдов,  керкетов – в середине I тысячелетия до н. э. они обитали вдоль восточного побережья Азовского и северо-восточного побережья Черного моря, а также в низовьях реки Кубани. В I–III веках н. э. многие адыгские племена смешались с сарматскими, вместе с которыми в IV веке были оттеснены готами на современную территорию. В IV –X веках н. э. адыги занимались земледелием и скотоводством…
