/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)

$colorSand = #c69c6d
$colorMain = #333333

/* fonts */

@font-face
	font-family "HarmoniaSansProCyrRegular"
	src url("../fonts/HarmoniaSansProCyrRegular.woff") format("woff")

@font-face
	font-family "HarmoniaSansProCyrBold"
	src url("../fonts/HarmoniaSansProCyr-Bold.woff") format("woff")

@font-face
	font-family "LeksaPro"
	src url("../fonts/LeksaPro.woff") format("woff")

@font-face
	font-family "LeksaProItalic"
	src url("../fonts/LeksaProItalic.woff") format("woff")

/* //fonts */
html
	height 100%
body
	position relative
	width 100%
	height 100%
	min-height 100vh
	line-height 1
	font-size 14px
	font-family "HarmoniaSansProCyrRegular"
	cursor default
	color $colorMain

body.open-menu
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	overflow hidden
	z-index -1

.body-preloader
	position fixed
	top 0
	right 0
	bottom 0
	left 0

	display flex
	justify-content center
	align-items center

	width 100%
	height 100%

	background #ffffff

	transition background 1s $transitionAnimation

	z-index 10000

	overflow hidden

	.body-preloader-bcg
		position absolute
		top 50%
		left 50%

		display block
		width 500px
		height 500px

		margin-left -250px
		margin-top -250px

		background #333333
		border-radius 50%

		opacity 0

		z-index 10001

		transition opacity 0.3s $transitionAnimation, transform 2s $transitionAnimation

	.body-preloader-container
		position relative
		max-width 500px
		width 100%
		opacity 0
		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		z-index 10002
		svg
			display block
			width 100%

	&.active
		.body-preloader-bcg
			opacity 1
			transform scale(5)

	&.active
		.body-preloader-container
			opacity 1

	&.hide
		background transparent

		.body-preloader-container
			transform scale(0.8)
			opacity 0

		.body-preloader-bcg
			opacity 0


body.region-fixed
	.region-detail-back
		margin-bottom 174px

	.region-detail-fixed
		position fixed
		top 60px
		left 0
		right 0

		padding 20px 0
		box-sizing border-box

		background $colorSand
		border-bottom-color $colorMain

		z-index 100

	.region-detail-name
		font-size 24px
		margin-right 25px
		margin-bottom 0

	.region-detail-sections
		margin-bottom 0
		margin-top -20px

		.region-detail-sections-item
			font-size 16px

			&:first-child
				margin-left 60px
/*** //Settings ***/

/*** General style ***/
.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

.page-inner
	position relative
	display block
	margin 0 auto
	box-sizing border-box

	&--w1
		max-width 100%
		padding 0 20px

	&--w2
		max-width 1290px
		padding 0 20px

	&--w3
		max-width 1065px
		padding 0 20px

	&--w4
		max-width 790px
		padding 0 20px

/** header **/

.page-header
	position fixed
	top 0
	right 0
	left 0
	width 100%
	padding 8px 20px
	box-sizing border-box
	display flex
	justify-content space-between
	align-items center
	background transparent
	transition background 0.3s $transitionAnimation
	z-index 100

	&.active
		background #333

.fixed-header
	.page-header
		background #333

.header-logo--mini
	display flex
	max-width 180px
	justify-content flex-start
	align-items center

	.header-logo-icon
		display block

		&:nth-child(1)
			width 35px
			margin-right 15px

		&:nth-child(2)
			width 130px

		svg
			display block
			width 100%

.header-menu
	max-width 470px
	width 100%

	.header-menu-inner
		display flex
		justify-content space-between
		align-items center

	.header-menu-item
		color $colorSand
		font-family "HarmoniaSansProCyrRegular"
		font-size 14px

		text-transform uppercase

.header-form
	max-width 235px
	min-width 200px

	.form-row--search
		width 100%

		.header-form-search
			position absolute
			top 50%
			right 1px

			display block
			width 22px
			height 22px

			margin-top -11px

			transition transform 0.6s $transitionAnimation

			svg
				display block
				width 100%

				path
					stroke-width 7px
		&.active
		&:hover
			.header-form-search
				transform translate(-195px)

		.form-item
			padding 10px 45px
			transition background 0.3s $transitionAnimation
			background transparent

			&:focus
				border-right 5px


		&.active
		&:hover
			.form-item
				background #fff


.header-burger
	position relative
	display none
	width 25px
	height 20px
	cursor pointer

.header-burger
	.header-burger-layout
		position absolute
		top 9px
		left 0
		right 0
		display block
		width 100%
		height 2px
		background #c69c6d
		transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:before
		content ""
		position absolute
		top 0px
		left 0
		right 0
		display block
		width 100%
		height 2px
		background #c69c6d
		transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:after
		content ""
		position absolute
		bottom 0px
		left 0
		right 0
		display block
		width 100%
		height 2px
		background #c69c6d
		transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&.active
		.header-burger-layout
			transform scale(0)

		&:before
			transform rotate(40deg) translate(5px, 6px)

		&:after
			transform rotate(-40deg) translate(6px, -8px)

.mobile-menu
	position fixed
	top 0
	right 0
	left 0
	bottom 0
	display none
	width 100%
	min-height 100vh
	transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
	z-index 99

	.mobile-menu-background
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		display block
		width 100%
		height 100%
		background #333
		transform translateY(-100%)
		transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		transition-delay 0.3s

	.mobile-menu-container
		padding 80px 0 0 20px
		box-sizing border-box
		opacity 0
		transform translateX(-50px)
		transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		transition-delay 0s

.mobile-menu
	&.active-block
		display block

.mobile-menu
	&.active-show
		.mobile-menu-background
			transform translateY(0)
			transition-delay 0s

		.mobile-menu-container
			transform translateX(0)
			opacity 1
			transition-delay 0.3s

.mobile-menu-top
	.mobile-menu-top-item-holder
		margin-bottom 20px

	.mobile-menu-top-item
		font-size: 20px;

.mobile-menu
	.header-form
		display block


/** //header **/


/** dispatch **/

.dispatch
	padding 100px 0
	box-sizing border-box
	background #c69c6d

	.dispatch-title
		margin-bottom 70px
		line-height 32px
		font-size 24px
		text-align center
		color #fff

	.form
		max-width 640px
		margin 0 auto

/** //dispatch **/


/** footer **/

.page-footer
	padding 100px 0 30px 0
	box-sizing border-box

	background $colorMain

.footer-logo
	max-width 200px
	margin 0 auto 60px auto

	svg
		display block
		width 100%

.footer-sub
	display block
	margin 0 auto 40px auto

	.footer-sub-title
		display block
		width 100%
		margin-bottom 20px

		font-size 14px
		font-family "HarmoniaSansProCyrRegular"
		text-align center
		text-transform uppercase

		color #fff

	.footer-sub-list
		display flex
		align-items center
		justify-content space-between

		max-width 110px
		width 100%
		margin 0 auto

		.footer-sub-item
			display block
			max-width 20px
			height 20px

			svg
				display block
				width 100%
				height 100%

				transition fill 0.3s $transitionAnimation

				&:hover
					fill #fff

.footer-creators
	display block
	width 100%
	text-align center

	.footer-creators-link
		display block
		margin 0 auto
		font-size 14px
		font-family "HarmoniaSansProCyrRegular"
		text-align center

	.footer-creators-name
		color $colorSand
		text-transform uppercase

		border-bottom 1px solid transparent
		transition border-bottom-color 0.3s $transitionAnimation

	&:hover
		.footer-creators-name
			border-bottom-color $colorSand

/** //footer **/


/** link and button **/

.link
	text-decoration none

.link-white
	color #fff

.link-black
	color #4a4a4a

.link-dark
	color #1A1A1A

.link-black--bottom
	border-bottom 1px solid #4a4a4a
	transition border-bottom-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		border-bottom-color transparent

.link-black--bottom-reverse
	border-bottom 1px solid transparent
	transition border-bottom-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		border-bottom-color #4a4a4a

.link-black--top-bottom-reverse
	border-bottom 1px solid transparent
	border-top 1px solid transparent
	transition border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		border-top-color #4a4a4a
		border-bottom-color #4a4a4a

.link--opacity
	transition opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		opacity 0.6

.link-darkgray
	color #4A4A4A

.link-gray
	color #a9a9a9

.link-gray--bottom
	border-bottom: 1px solid #a9a9a9
	transition: border-bottom-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		border-bottom-color transparent

.link-gray--bottom-reverse
	border-bottom-color transparent

	transition border-bottom-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		border-bottom 1px solid #a9a9a9

.link--white
	transition color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	&:hover
		color #fff

.link--sand-bottom
	border-bottom 1px solid transparent
	transition border-bottom-color 0.3s $transitionAnimation, color 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorSand
		color $colorSand

.link--sand
	transition color 0.3s $transitionAnimation, color 0.3s $transitionAnimation

	&:hover
		color $colorSand

.button
	width 100%
	padding 15px 0
	box-sizing border-box
	border-radius 5px
	text-align center
	text-transform uppercase
	font-size 16px
	transition background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-radius 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

.button--dark
	background #333
	color #fff

	&:hover
		opacity 0.8
		border-radius 15px

.button--white
	border 2px solid transparent
	border-radius 25px
	padding 8px 10px
	box-sizing border-box
	transition border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-radius 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

	&:hover
		border-color $colorSand

.button--sand
	border-radius 20px
	border 1px solid $colorSand
	text-align center
	color $colorSand

	transition background 0.3s $transitionAnimation, color 0.3s $transitionAnimation

	&:hover
		 background $colorSand
		 color #FFF

/** //link and button **/


/** form **/

.form
	.form-row
		position relative
		display flex
		justify-content space-between

	.form-row--60
		width 58%

	.form-row--40
		width 38%

	.form-item
		display block
		width 100%
		padding 16px 25px
		box-sizing border-box
		font-size 14px
		border-radius 5px
		background #fff
		color #4a4a4a
		transition border-radius 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

	.form-item:focus
		border-radius 15px

/** //form **/

.more-container
	text-align center

.more
	padding-bottom 3px

	border-bottom 1px solid #979797

	text-transform uppercase

	font-size 14px
	font-family "HarmoniaSansProCyrBold"

	transition border-bottom-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

.more:hover
	border-bottom-color transparent

.page-text
	font-size 16px
	line-height 28px

	h1
		font-size 60px
		line-height 80px

	h2
		color #4a4a4a
		font-size 44px
		line-height 1

	h3
		color #4c4c4c
		line-height 36px
		font-size 28px
		font-family "LeksaProItalic"

	p
		margin-bottom 25px
		line-height 28px

		text-align left
		font-size 18px
		font-family "LeksaPro"

		color #4c4c4c

	img
		display block
		width 100%

	.center
		text-align center

	dl
		position relative
		margin-top 60px
		margin-bottom 55px
		overflow hidden

		dt
			width 48%
			float left
			margin-right 4%
			margin-bottom 30px

			line-height 28px

			font-family "HarmoniaSansProCyrBold"
			font-size 18px

			color #4f4f4f

		dd
			width 48%
			float left
			margin-bottom 30px

			line-height 28px

			font-size 18px
			color #4c4c4c

.slider-container
	position relative
	margin-top 50px

	overflow hidden

	.slider-nav-counter
		position absolute
		bottom 60px
		left 50%

		margin-left -13.5px

		font-family "LeksaPro"
		font-size 18px

		line-height 22px

.region-section
	.slider-container
		.slider-nav-counter
			bottom 110px

.slider
	margin-bottom 50px
	box-sizing border-box

	.owl-item
		.slider-item-holder
			position relative

			&:before
				content ""
				display block
				padding-top 63%

			img
				position absolute
				top 0
				left 0
				bottom 0
				right 0

				display block
				width 100%
				height 100%

				object-fit cover

		.slider-item-note
			display block
			max-width 60%
			width 100%

			margin 50px auto 0 auto

			line-height 24px
			text-align center

			font-size 16px
			font-family "LeksaProItalic"

			opacity 0
			transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation
			transition-delay 1.5s
			transform translateY(10px)

			color #4C4C4C

		&.active
			.slider-item-note
				opacity 1
				transform translateY(0)

	&--full
		padding 0 90px

		.owl-nav
			.owl-prev
				position absolute
				top 50%
				left 20px

				width 50px

				opacity 1
				transform translateY(-25px)
				z-index 100

				svg
					display block
					width 100%

					path
						stroke-width 4px

						&.arrow
							transition transform 0.3s $transitionAnimation
				&:hover
					svg
						path
							&.arrow
								transform translateX(-15px)

			.owl-next
				position absolute
				top 50%
				right 20px

				width 50px

				opacity 1
				transform translateY(-25px)
				z-index 100

				svg
					display block
					width 100%

					path
						stroke-width 4px

						&.arrow
							transition transform 0.3s $transitionAnimation
				&:hover
					svg
						path
							&.arrow
								transform translateX(15px)

	&--one
		.owl-nav
			position absolute
			left 0
			right 0
			bottom 80px

			display block
			width 100%

			.owl-prev
				position absolute
				top 0
				left 0

				display block
				width 30px

				transition opacity 0.3s $transitionAnimation

				svg
					display block
					width 100%

				&:hover
					opacity 0.6

			.owl-next
				position absolute
				top 0
				right  0

				display block
				width 30px

				transition opacity 0.3s $transitionAnimation

				svg
					display block
					width 100%

				&:hover
					opacity 0.6
/** //region **/

/** load **/

.load
	position relative
	width 100%
	height 45px
	text-align center

	.load-more
		position absolute

		left 50%
		margin-left -25px

		display block
		width 45px
		height 45px

		cursor pointer

		transition transform 0.3s $transitionAnimation

		&:hover
			transform rotate(360deg)

		&:before
			content ""
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background-image url(../svg/circle-arrow.svg)
			background-repeat no-repeat
			background-size cover

		&.loading
			animation-name spin
			animation-duration 300ms
			animation-iteration-count infinite
			animation-timing-function linear

/** //load **/

.flex-list
	display flex
	justify-content flex-start
	align-items flex-start
	flex-wrap wrap

	margin-bottom 45px

	.flex-item
		display inline-block
		max-width 48%
		width 100%

		margin-bottom 65px

		&--30
			max-width 30%
			width 100%

			margin-right 5%

			&:nth-child(3n)
			&:last-child
				margin-right 0

		&--48
			max-width 48%
			width 100%

			margin-right 3.4%

			&:nth-child(2n)
			&:last-child
				margin-right 0

		.flex-container
			position relative
			display block
			margin-bottom 40px

			overflow hidden

			img
				position absolute
				top 0
				left 0
				right 0
				bottom 0

				display block
				width 100%
				height 100%

				object-fit cover

				transition transform 0.3s $transitionAnimation

			&:before
				content ""
				display block
				padding-top 75%

		.flex-name
			display block
			margin-bottom 30px

			font-size 24px
			font-family "HarmoniaSansProCyrBold"

			text-align center

			transition opacity 0.3s $transitionAnimation

			color #000

		.flex-text
			display block
			width 100%

			padding 0 20px
			box-sizing border-box

			line-height 24px

			text-align center

			font-size 16px

			color #4A4A4A

		.flex-date
			display block
			margin-bottom 20px
			text-align center
			font-size 12px
			color #9B9B9B
		&:hover
			.flex-container
				img
					transform scale(1.1)

			.flex-name
				opacity 0.6

.toggle-text-container
	display none
	transform translateX(-50px)
	opacity 0

	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.active
		display block

	&.active-animation
		transform translateX(0)
		opacity 1

/** regions tags **/

.region-tags
	display flex
	align-items center
	margin-bottom 50px

	padding-top 50px
	box-sizing border-box

	border-top 1px solid #929292

	.region-tags-title
		margin-right 100px
		font-weight 600

	.region-tags-name
		display block
		margin-right 30px

		font-family "LeksaPro"
		font-weight 600
		color #1A1A1A

		&:last-child
			margin-right 0

/** //region tags **/


/** region section similar **/

.region-section-similar
	padding-top 80px

	.flex-list
		margin-bottom 0

	.region-section-similar-more
		display flex
		justify-content space-between
		align-items flex-end
		margin-bottom 50px

		.region-section-similar-title
			font-size 28px
			font-weight 600
			color #000000

		.region-section-similar-container
			position relative
			display flex
			flex-wrap wrap
			padding-right 55px

			.region-section-similar-all
				margin-right 20px

				font-family "LeksaProItalic"
				font-size 16px

				color #4A4A4A

			.region-section-similar-category
				padding-bottom 5px

				font-size 14px
				font-weight 600

				text-transform uppercase

				color #4A4A4A

			&:after
				content ""
				position absolute
				top 50%
				right 0

				display block
				width 35px
				height 20px
				margin-top -10px

				background-image url("../svg/arrow-one-right.svg")
				background-size contain
				background-repeat no-repeat
				background-position center

				transition transform 0.3s $transitionAnimation

			&:hover
				&:after
					transform translateX(15px)

/** region section similar **/

/*** //general style ***/


.main-bcg
	position relative
	display block
	min-height 100vh
	background-attachment fixed
	background-position center
	background-repeat no-repeat
	background-size cover

.main-bcg:after
	content ""
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	display block
	width 100%
	height 100%
	background rgba(0,0,0,0.52)
	z-index 10

.main-bcg
	.main-logo
		position absolute
		top 50%
		left 50%
		display block
		max-width 405px
		width 100%
		margin -120px 0 0 -202.5px
		z-index 20

	svg
		display block
		width 100%

.home-intro
	width 100%
	padding 100px 0 140px 0
	box-sizing border-box

.home-intro-text
	max-width 700px
	width 100%
	margin 0 auto
	text-align center

	h2
		margin-bottom: 50px

	h3
		max-width: 650px
		margin: 0 auto 50px auto

.home-intro-text
	p
		margin-bottom 25px

.home-regions
	h2
		display block
		width 100%
		margin-bottom 70px
		text-align center

.home-regions
	.home-regions-map
		height 620px

.home-products
	padding 100px 0 140px 0

.home-products
	h2
		display block
		width 100%
		margin-bottom 70px
		text-align center

.products-list
	display flex
	align-items end
	justify-content flex-start
	flex-wrap wrap

	padding-bottom 65px

.products-list
	.products-item
		display block
		width 30%
		margin-bottom 50px

		margin-right 4%

		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		&:nth-child(3n)
		&:last-child
			margin-right 0

		&.load-events-item
			opacity 0
			transform scale(0.8)

		&.hide-block
			display none

		&.hide
			transform scale(0.8)

.products-item
	.products-container
		position relative
		display block
		width 100%
		margin-bottom 35px
		background rgba(245,246,249,1)
		background radial-gradient(ellipse at center, rgba(245,246,249,1) 0%, rgba(245,246,249,1) 19%, rgba(245,246,249,1) 51%, rgba(245,246,249,1) 71%, rgba(227,228,237,1) 96%, rgba(227,228,237,1) 100%)

		.products-holder
			position absolute
			top 0
			left 0
			right 0
			bottom 0

			display block
			width 100%
			height 100%

			padding 40px
			box-sizing border-box

			overflow hidden

			img
				display block
				width 100%
				height 100%
				object-fit contain

				transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

		&:before
			content ""
			display block
			padding-top 80%

	&:hover
		.products-holder
			img
				transform scale(1.1)

		.products-name
			a
				opacity 0.6
.rubric
	line-height 20px
	margin-bottom 20px
	text-transform uppercase
	text-align center

	.point-delimiter
		color #a9a9a9

.products-name
	line-height 26px

	font-size 18px
	font-family "HarmoniaSansProCyrBold"
	text-align center

	a
		color #000

.home-records
	background #FAFAFA
	padding 100px 0 140px 0

.home-records
	h2
		display block
		width 100%
		margin-bottom 70px
		text-align center

.home-records-list
	display flex
	align-items end
	justify-content flex-start
	max-width 1140px
	margin 0 auto
	width 100%
	flex-wrap wrap

.home-records-list
	.home-records-item
		display block
		max-width 30%
		margin-right 5%
		margin-bottom 30px

.home-records-list
	.home-records-item:nth-child(3n)
		margin-right 0

.home-records-list
	.home-records-item:last-child
		margin-right 0

.home-records-item
	.home-records-container
		display block
		width 100%
		margin-bottom 30px
		overflow hidden

.home-records-item
	.home-records-container
		img
			display block
			width 100%
			transition transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)

.home-records-item
	.home-records-container:hover
		img
			transform scale(1.05)

.home-records-item
	.home-records-name
		margin-bottom 25px
		font-size 18px
		font-weight 600
		text-align center

.home-records-item
	.home-records-text
		padding 10px
		font-size 16px
		font-family "LeksaPro"
		text-align center
		line-height 24px

.content-top
	padding-top 60px
	box-sizing border-box


/** regions **/

.regions
	h1
		margin-top 80px

.regions-toggle
	display flex
	justify-content center
	margin-top 40px

	.regions-button
		display flex
		justify-content space-between
		align-items center

		padding 5px 15px

		margin-right 15px

		.button-svg
			width 18px
			margin-right 5px

			svg
				display block
				width 100%

				path
					transition fill 0.3s $transitionAnimation
		&:hover
			.button-svg
				svg
					path
						fill #fff

		&.active
			background $colorSand
			color #FFF

			.button-svg
				svg
					path
						fill #fff

		&:last-child
			margin-right 0

.regions-tabs
	margin-top 40px
	box-sizing border-box

	.regions-tab
		display block
		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		&.hide
			opacity 0
			transform scale(0.9)

		&.hide-block
			display none

.regions-map
	width 100%
	height 775px
	border-top 2px solid #e3e3e3

	.map
		width 100%
		height 100%

.regions-list-container
	margin-bottom 105px
	border-top 2px solid #e3e3e3


.regions-list
	display flex
	align-items center
	justify-content flex-start
	flex-wrap wrap
	padding-top 65px
	margin-bottom 30px
	box-sizing border-box

	.regions-item
		position relative
		max-width 48%
		width 100%

		margin-right 4%
		margin-bottom 60px

		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

		overflow hidden

		&:nth-child(2n)
			margin-right 0

.regions-item
	&.load-events-item
		opacity 0
		transform scale(0.8)

	.regions-container
		position relative

		.regions-img
			display block
			width 100%

		.regions-about-list
			position absolute
			top 0
			left 0
			right 0
			bottom 0

			display flex
			flex-flow column
			align-items center
			justify-content center
			width 100%
			height 100%

			opacity 0
			transform scale(0.9)

			z-index 10

			transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

			.regions-about-item
				margin-bottom 25px
				font-size 24px
				text-align center

				&:last-child
					margin-bottom 0

		&:after
			content ""
			position absolute
			top 0
			left 0
			right 0
			bottom 0

			display block
			width 100%
			height 100%

			background radial-gradient(ellipse at center, rgba(253,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(212,243,252,1) 87%,rgba(237,244,247,1) 100%,rgba(249,254,255,1) 100%,rgba(177,216,245,1) 100%,rgba(249,254,255,1) 100%,rgba(225,255,255,1) 100%,rgba(225,255,255,1) 100%,rgba(237,246,249,1) 100%)

			opacity 0
			transform matrix(1.2, 0, 0.5, 0.8, 50, 0)
			transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

			z-index 5

		/*&:before
			content ''
			position absolute
			height 0
			width 0
			top 0
			right 0
			background #fff
			background linear-gradient(225deg, #fff 45%, #bfdae7 50%, #c8e2ee 100%, #fff 80%)
			box-shadow -1px 1px 1px rgba(0,0,0,0.1)
			transition-duration 0.3s
			transition-property width, height
			z-index 20*/

		&:hover
			&:after
				opacity 0.7
				transform none

			/*&:before
				width 25px
				height 25px*/

			.regions-about-list
				opacity 1
				transform scale(1)

	.regions-name
		display block
		margin-top 25px

		font-size 34px
		text-align left
/** //regions **/

/** regions detail **/

.region-detail
	margin-top 55px

	.region-detail-fixed
		position relative
		text-align center
		border-bottom 1px solid transparent
		transition background 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation

	.region-detail-logo
		display block
		max-width 100px
		width 100%
		margin 0 auto 25px auto

		svg
			display block
			width 100%

	.region-detail-back
		margin-bottom 30px
		text-align center
		font-size 24px

	.region-detail-name
		display inline-block
		margin-bottom 55px
		text-align center
		font-size 60px
		font-weight 600

		transition transform 0.6s $transitionAnimation

	.region-detail-sections
		display flex
		justify-content center
		align-items center
		flex-wrap wrap

		margin-bottom 45px

		.region-detail-sections-item
			padding-top 5px
			padding-bottom 5px
			margin-right 30px
			font-size 18px
			font-family "HarmoniaSansProCyrBold"

			&:last-child
				margin-right 0

	.region-container
		width 100%

		.region-img
			display block
			width 100%

	.region-about
		padding  100px 0 70px 0

		.region-about-text
			max-width 755px
			width 100%
			margin 0 auto 70px auto

			h2
				margin-bottom 40px
				text-align center

			h3
				margin-bottom 50px
				font-size 24px
				text-align center

	.region-sights
		padding 75px 0 70px 0
		box-sizing border-box

		h2
			margin-bottom 70px
			text-align center

	.region-history
		padding 105px 0 90px 0
		box-sizing border-box

		h2
			margin-bottom 45px
			text-align center

		h3
			max-width 770px
			width 100%
			margin 0 auto 55px auto

			text-align center

		.history-info
			display flex
			justify-content space-between
			align-items flex-start

			.history-container
				width 40%

				img
					display block
					width 100%

			.history-text
				width 55%
				text-align left

	.region-culture
		padding 75px 0 70px 0

		h2
			margin-bottom 70px
			text-align center

	.region-kitchen
		padding 105px 0 90px 0
		box-sizing border-box

		h2
			margin-bottom 45px
			text-align center

	.region-products
		border-top 1px solid #e3e3e3
		padding 70px 0 100px 0

		h2
			margin-bottom 45px
			text-align center

		.region-products-series
			display block
			width 100%

			margin-bottom 60px

			text-align center

			font-size 18px

			color #4A4A4A

		.products-list
			margin 0 auto

		.more-container
			margin-top 90px

/** //regions detail **/
.social-block
	display flex
	justify-content space-between
	align-items center
	flex-wrap wrap

	width 100%

	margin-bottom 50px

	.social-item
		display flex
		align-items center
		justify-content center
		flex-grow 1

		padding 10px 0

		border-top 1px solid #e3e3e3
		border-bottom 1px solid #e3e3e3
		border-left 1px solid #e3e3e3

		cursor pointer

		transition background 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation

		&:last-child
			border-right 1px solid #e3e3e3

		.social-item-icon
			display block
			width auto
			height 17px

			margin-right 15px

			svg
				display block
				width auto
				max-width 20px
				height 100%

				path
					fill #9B9B9B
					transition fill 0.3s $transitionAnimation

		.social-item-count
			font-size 16px
			color #9B9B9B
			transition color 0.3s $transitionAnimation

		&:hover
			background $colorSand
			border-color $colorSand

			svg
				path
					fill $colorMain

			.social-item-count
				color $colorMain



.region-section
	position relative

	.region-section-bcg
		position fixed
		top 0
		left 0
		right 0

		display block
		width 100%
		height 100vh

		z-index -10

		img
			display block
			width 100%
			height 100%

			object-fit cover

		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			bottom 0

			display block
			width 100%
			height 100%

			background rgba(0, 0, 0, 0.5)

	.region-section-logo
		display block
		max-width 100px
		width 100%
		padding-top 55px
		margin 0 auto 35px auto

	.region-section-name
		display block
		width 100%
		margin 30px auto 35px auto

		text-align center

		font-size 54px

		color #ffffff

	.region-section-container
		padding 60px 0 80px 0px
		box-sizing border-box

		background #ffffff

	.region-section-prop
		display flex
		justify-content center
		align-items center
		margin-bottom 50px

		.region-section-date
			margin-right 20px
			font-size 12px

			text-transform uppercase

			color #9B9B9B

		.region-section-views
			display flex
			align-items center
			margin-right 20px

			.region-section-views-icon
				width 30px
				margin-right 5px

				svg
					display block
					width 100%

			.region-section-views-count
				font-size 12px
				color #9B9B9B

		.region-section-topic
			font-size 12px
			text-transform uppercase
			color #9B9B9B

	h1
		text-align center
		font-family "HarmoniaSansProCyrBold"
		margin-bottom 35px

	.region-section-showmap
		text-align center

		.region-section-button
			display flex
			align-items center
			justify-content center
			max-width 150px
			width 100%

			margin 0 auto

			.button-svg
				width 15px
				margin-right 10px
				svg
					display block
					width 100%

			.button-text
				font-size 16px
				font-family "HarmoniaSansProCyrBold"

				text-transform lowercase
				color #C69C6D

	.region-section-info
		margin 30px auto 0 auto
		max-width 750px

		img
			margin-bottom 50px

		h2
			display block

			margin-bottom 40px

			padding 0 20px
			box-sizing border-box

			line-height 36px

			font-size 28px
			font-family "LeksaPro"

			text-align center

			color #4C4C4C

	.region-section-list
		margin-top 50px
		padding 0 50px
		box-sizing border-box

	.products-filter
		display flex
		justify-content center
		align-items center

		margin-top 55px
		margin-bottom 90px

		.products-filter-item
			margin-right 30px
			padding-bottom 2px
			box-sizing border-box

			font-size 18px
			font-family "HarmoniaSansProCyrBold"

			border-bottom 1px solid transparent

			transition color 0.3s $transitionAnimation, border-bottom-color 0.3s $transitionAnimation

			&:last-child
				margin-right 0

			&.active
			&:hover
				color #333333
				border-bottom-color #333333

.products-detail
	.slider-container
		.slider-nav-counter
			bottom 35px

	.slider--one
		margin-bottom 85px

		.owl-nav
			bottom -30px

			width 200px

			margin 0 auto

	h1
		margin-bottom 20px
		text-align center

	.slider
		.owl-item
			.slider-item-holder
				&:before
					padding-top 50%

	.products-category
		margin-bottom 60px

		letter-spacing 2px

		font-size 12px

		text-align center
		text-transform uppercase

		color #9B9B9B

	.products-section
		display flex
		justify-content center
		align-items center

		margin-bottom 50px

		padding-bottom 45px
		box-sizing border-box

		border-bottom 1px solid #929292

		.products-section-item
			margin-right 60px
			cursor pointer

			&.active
				color #c69c6d

			&:last-child
				margin-right 0

	.products-information-container
		display none

		transform scale(0.8)
		opacity 0

		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.active
			display block

		&.active-animation
			opacity 1
			transform scale(1)

	.products-shops
		padding-bottom 40px
		margin-bottom 50px

		border-bottom 1px solid #929292

		.products-shops-title
			margin-bottom 50px

			font-size 14px

			text-transform uppercase
			color #4A4A4A

		.products-shops-list
			display flex
			justify-content space-between
			align-items center

			.products-shops-item
				width 32%
				height 112px

				margin-right 2%

				&:nth-child(3n)
					margin-right 0

				&:last-child
					margin-right 0

				img
					height 100%
					object-fit contain

			.page-text
				width 100%

			dl
				margin 0

			.products-link
				white-space nowrap
