@media screen and (max-width: 750px)
    .header-menu
        display none

    .header-burger
        display block

    .header-form
        display none

    .home-intro
        padding 50px 0

    .home-intro-text h1
    .home-intro-text h2
        margin-bottom 20px

    .home-intro-text
        p
            margin-bottom 20px

    .home-regions
        h1
            margin-bottom 40px

    .home-products
        padding 50px 0

    .home-products h1
        margin-bottom 40px

    .home-products-list
        .home-products-item
            max-width 48%

    .home-records
        padding 50px 0

        h1
            margin-bottom 40px

    .home-records-list
        .home-records-item
            max-width 48%
            margin-right 2%

            &:nth-child(3n)
                margin-right 2%

            &:nth-child(2n)
                margin-right 0

    .dispatch
        padding 40px 20px

        .dispatch-title
            margin-bottom 30px
            font-size 20px
            line-height 28px

    .main-bcg
        .main-logo
            max-width 275px
            margin -82.5px 0 0 -137.5px

    .page-footer
        padding 40px 0

    .footer-logo
        display none

    .page-text
        h1
            font-size 34px

        h2
            font-size 20px

        p
            font-size 16px
            line-height 26px

    .home-products
        .home-products-list
            margin-bottom 30px

    .footer-creators
        .footer-creators-link
            line-height 20px

@media screen and (max-width: 500px)
    .home-products-list
        .home-products-item
            max-width 100%

    .home-products-item
        .home-products-container
            .img
                height 95%

    .home-intro
        padding 30px 0px

    .page-text
        h1
            font-size 30px

        h2
            line-height 28px
            font-size 18px

    .home-products
        padding 30px 0

    .home-products-item
        .home-products-container
            margin-bottom 15px

    .home-products-list
        .home-products-item
            margin-bottom 30px

    .home-records-list
        .home-records-item
            max-width 100%
            margin-right 0

    .home-records-item
        .home-records-container
            margin-bottom 15px

    .home-records-item
        .home-records-name
            margin-bottom 15px

    .home-records-list
        .home-records-item
            &:nth-child(3n)
                margin-right 0

    .form
        .form-row
            flex-flow column

            &--60
                width 100%
                margin-bottom 10px
                text-align center

            &--40
                width 100%
                margin-bottom 10px
                text-align center

    .main-bcg
        .main-logo
            max-width 175px
            margin -50px 0 0 -87.5px
